.content{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    
}
.content img{
    width: 800px;
    height: 500px;
    border-radius: 19px;
    
}
.content p{
    margin-top: 60px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;
   
}

h1{
    font-size: 100px;
    text-align: center;
    font-style: italic;
    margin-bottom: -50px;
}

@media (max-width: 768px) {
  .culture-detail {
    flex-direction: column; /* image au dessus, texte en dessous */
  }
}
